body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.container {
  position: absolute;
  display: block;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
h1 {
  color: #ffffff;
  font-family: helvetica;
  margin-bottom: 0px;
}

p {
  margin-top: 5px;
  color: #ffffff;
  font-family: helvetica;
}

.profile {
  margin-left: 450px;
  top: calc(100% - 300px);
  display: block;
  width: 450px;
  position: absolute;
  height: 200px;
  text-align: center;
}


.picture-container {
  padding-right: 720px;
  top: calc(50% - 450px);
  width: 220px;
  display: block;
  position: absolute;
  right: 10px;
  height: 200px;


}

.picture-container img {
  border-radius: 40%;
  transform: rotate(1deg);
  -webkit-box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.75);
}

.circle2 {
  position: relative;
  top: -100px;
  left: 60px;
  z-index: -1;
}

.circle1 {
  position: relative;
  top: 140px;
  left: -40px;
  z-index: 3;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
